@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.navbar {
  padding: 2% 5% 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 11vh;
}

.navbar img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.navbar .college-logo img {
  width: auto;
  height: 110%;
  -o-object-fit: contain;
  object-fit: contain;
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 0 5%;
  margin-bottom: 5%;
}

.hero .hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero .hero-text span {
  color: #6dcf89;
}

.hero .hero-text h1 {
  font-size: 5rem;
  color: #263238;
}

.hero .hero-text h3 {
  font-size: 2rem;
  font-weight: 400;
  color: #263238;
}

.hero .hero-text h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 1rem;
  color: #263238;
}

.hero .hero-text .title-sponsor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  width: 25%;
}

.hero .hero-text .title-sponsor img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.hero .hero-text .title-sponsor .divider {
  min-width: 1px;
  height: 100%;
  background-color: #5f5f5f;
}

.hero .hero-text .title-sponsor .title-sponsor-text {
  color: #5f5f5f;
}

.hero .hero-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.hero .countdown-timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 50%;
  margin-top: 1rem;
}

.hero .countdown-timer .day,
.hero .countdown-timer .minute,
.hero .countdown-timer .hour,
.hero .countdown-timer .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem 0;
}

.hero .countdown-timer .day p,
.hero .countdown-timer .minute p,
.hero .countdown-timer .hour p,
.hero .countdown-timer .second p {
  font-weight: 500;
  margin-top: 0.4rem;
}

.hero .countdown-timer .dayVal,
.hero .countdown-timer .hourVal,
.hero .countdown-timer .minuteVal,
.hero .countdown-timer .secondVal {
  padding: 1rem;
  background-color: #f1f1f1;
  font-weight: 700;
  border-radius: 0.5rem;
}

.about-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.75fr 1fr;
  grid-template-columns: 0.75fr 1fr;
  gap: 5%;
  max-width: 100vw;
  padding: 0 5%;
  margin-bottom: 1%;
}

.about-section .about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 2.5rem;
}

.about-section .about-text h1 {
  font-size: 3.2rem;
  color: #6dcf89;
}

.about-section .about-text p {
  font-size: 1.5rem;
  color: #4b4b4b;
  font-weight: 100;
}

.about-section .about-text p a {
  text-decoration: none;
  color: #3d3d3d;
  font-weight: 500;
}

.about-section .about-text iframe {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.about-section .about-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.theme {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  max-width: 100vw;
  margin: 0 5%;
  gap: 5%;
  padding: 0 2%;
  margin-bottom: 10%;
  border-radius: 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #E9FBFF;
}

.theme .theme-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 2rem 0 0 2rem;
}

.theme .theme-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
}

.theme .theme-text h1 {
  font-size: 3.2rem;
  color: #3B8B58;
  color: #263238;
}

.theme .theme-text span {
  color: #6dcf89;
}

.theme .theme-text h2 {
  font-size: 3rem;
  color: #263238;
}

.theme .theme-text p {
  font-size: 1.5rem;
  color: #4b4b4b;
  font-weight: 100;
}

.legacy-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 0 5%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 100%;
  gap: 5%;
  margin: 5% 0;
  position: relative;
}

.legacy-section .legacy-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 5%;
  padding: 0rem;
  min-width: 300px;
  max-width: 600px;
}

.legacy-section .legacy-text h1 {
  font-size: 3.2rem;
  color: #6dcf89;
}

.legacy-section .legacy-text h2 {
  font-size: 3rem;
}

.legacy-section .legacy-text p {
  font-size: 1.5rem;
  color: #4b4b4b;
  font-weight: 100;
}

.legacy-section .legacy-slideshow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 200px;
}

.legacy-section .legacy-slideshow .image-holder {
  min-width: 40vw;
  height: 100%;
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: ease-in;
  transition: ease-in;
}

.legacy-section .legacy-slideshow .slide-prev button,
.legacy-section .legacy-slideshow .slide-next button {
  display: none;
  padding: 0.5rem;
  border: none;
  font-size: 2rem;
  font-family: serif;
  border-radius: 0.5rem;
  font-weight: 700;
}

.legacy-section .legacy-slideshow .slide-prev button:hover,
.legacy-section .legacy-slideshow .slide-next button:hover {
  opacity: 0.8;
}

/* .our-sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 3rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0% 5%;
} */

/* .our-sponsors .sponsor-heading h1 {
  font-size: 3.2rem;
  color: #6dcf89;
} */

/* .our-sponsors .sponsor-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 20vh;
} */

/* .our-sponsors .sponsor-logos img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
} */

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2% 5%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #E5FAEB;
  color: #263238;
}

.footer .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer .bottom .left {
  font-size: 1.5rem;
}

.footer .bottom .left p {
  margin: 1rem 0;
}

.footer .bottom .left p a {
  color: inherit;
  text-decoration: none;
}

.footer .bottom .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 1.5rem;
  gap: 1rem;
}

.footer .bottom .right .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 1rem;
}

.footer .bottom .right .links a {
  color: inherit;
}

@media only screen and (max-width: 450px) {
  .navbar {
    padding: 5% 5% 0 5%;
    height: 9vh;
  }

  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 2rem 0 3rem 0;
  }

  .hero .hero-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: left;
  }

  .hero .hero-text span {
    color: #6dcf89;
  }

  .hero .hero-text h1 {
    font-size: 3rem;
  }

  .hero .hero-text h3 {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .hero .hero-text h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1rem;
  }

  .hero .hero-text .title-sponsor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    width: 35%;
  }

  .hero .hero-text .title-sponsor img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .hero .hero-text .title-sponsor .divider {
    min-width: 1px;
    min-height: 25px;
    background-color: #5f5f5f;
  }

  .hero .hero-text .title-sponsor .title-sponsor-text {
    color: #5f5f5f;
    font-size: 0.8rem;
  }

  .hero .hero-image img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .hero .countdown-timer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
  }

  .hero .countdown-timer .day,
  .hero .countdown-timer .minute,
  .hero .countdown-timer .hour,
  .hero .countdown-timer .second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem 0;
  }

  .hero .countdown-timer .day p,
  .hero .countdown-timer .minute p,
  .hero .countdown-timer .hour p,
  .hero .countdown-timer .second p {
    font-weight: 500;
    margin-top: 0.4rem;
  }

  .hero .countdown-timer .dayVal,
  .hero .countdown-timer .hourVal,
  .hero .countdown-timer .minuteVal,
  .hero .countdown-timer .secondVal {
    padding: 1rem;
    background-color: #f1f1f1;
    font-weight: 700;
    border-radius: 0.5rem;
  }

  .about-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 3rem;
    padding: 0 5%;
    margin-bottom: 15%;
  }

  .about-section .about-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 3rem;
  }

  .about-section .about-text h1 {
    font-size: 3rem;
    color: #6dcf89;
  }

  .about-section .about-text p {
    font-size: 1.3rem;
    color: #4b4b4b;
    font-weight: 100;
  }

  .about-section .about-image img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .theme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 0%;
  }

  .theme .theme-image img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 2rem 2rem 0 0rem;
  }

  .theme .theme-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 1rem 1rem 3rem 1rem;
  }

  .theme .theme-text h1 {
    font-size: 3rem;
    color: #6dcf89;
  }

  .theme .theme-text span {
    color: #6dcf89;
  }

  .theme .theme-text h2 {
    font-size: 1.5rem;
  }

  .theme .theme-text p {
    font-size: 1.3rem;
    color: #4b4b4b;
    font-weight: 100;
  }

  .legacy-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 5%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
    gap: 5%;
    margin: 5% 0;
    position: relative;
  }

  .legacy-section .legacy-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2rem;
    padding: 0rem;
    min-width: 300px;
    max-width: 600px;
    margin-bottom: 2rem;
  }

  .legacy-section .legacy-text h1 {
    font-size: 3rem;
    color: #6dcf89;
  }

  .legacy-section .legacy-text span {
    color: #3B8B58;
  }

  .legacy-section .legacy-text h2 {
    font-size: 3rem;
  }

  .legacy-section .legacy-text p {
    font-size: 1.3rem;
    color: #4b4b4b;
    font-weight: 100;
  }

  .legacy-section .legacy-slideshow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 300px;
    max-width: 600px;
  }

  .legacy-section .legacy-slideshow .image-holder {
    width: 100vw;
    height: 30vh;
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .legacy-section .legacy-slideshow .slide-prev button,
  .legacy-section .legacy-slideshow .slide-next button {
    display: none;
    padding: 0.2rem;
    border: none;
    font-size: 2rem;
    font-family: serif;
    border-radius: 0.5rem;
  }

  .legacy-section .legacy-slideshow .slide-prev button:hover,
  .legacy-section .legacy-slideshow .slide-next button:hover {
    opacity: 0.8;
  }

  /* .our-sponsors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 3rem;
    padding: 0% 5%;
    margin: 10% 0;
  } */

  /* .our-sponsors .sponsor-heading {
    text-align: left;
  } */

  /* .our-sponsors .sponsor-heading h1 {
    text-align: left;
    font-size: 3rem;
    color: #6dcf89;
  } */

  /* .our-sponsors .sponsor-logos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  } */

  /* .our-sponsors .sponsor-logos .third {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-column-align: center;
    justify-self: center;
    justify-items: center;
    padding: 5% 10%;
  } */

  /* .our-sponsors .sponsor-logos div {
    padding: 1rem;
  } */

  /* .our-sponsors .sponsor-logos div img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  } */

  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 5% 5%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #E5FAEB;
    color: #263238;
  }

  .footer .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer .bottom .left {
    font-size: 1.3rem;
    text-align: center;
  }

  .footer .bottom .left p {
    margin: 1rem 0;
  }

  .footer .bottom .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    font-size: 1.3rem;
    gap: 1rem;
  }

  .footer .bottom .right .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.9rem;
  }
}

@media only screen and (min-width: 450px) and (max-width: 900px) {
  .navbar {
    padding: 5% 5% 0 5%;
  }

  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 2rem 0;
  }

  .hero .hero-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: left;
  }

  .hero .hero-text span {
    color: #6dcf89;
  }

  .hero .hero-text h1 {
    font-size: 3.5rem;
  }

  .hero .hero-text h3 {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .hero .hero-text h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 1rem;
  }

  .hero .hero-text .title-sponsor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    width: 25%;
  }

  .hero .hero-text .title-sponsor img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .hero .hero-text .title-sponsor .divider {
    min-width: 1px;
    height: 30px;
    background-color: #5f5f5f;
  }

  .hero .hero-text .title-sponsor .title-sponsor-text {
    color: #5f5f5f;
  }

  .hero .hero-image img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .hero .countdown-timer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
  }

  .hero .countdown-timer .day,
  .hero .countdown-timer .minute,
  .hero .countdown-timer .hour,
  .hero .countdown-timer .second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem 0;
  }

  .hero .countdown-timer .day p,
  .hero .countdown-timer .minute p,
  .hero .countdown-timer .hour p,
  .hero .countdown-timer .second p {
    font-weight: 500;
    margin-top: 0.4rem;
  }

  .hero .countdown-timer .dayVal,
  .hero .countdown-timer .hourVal,
  .hero .countdown-timer .minuteVal,
  .hero .countdown-timer .secondVal {
    padding: 1.5rem;
    background-color: #f1f1f1;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 0.5rem;
  }

  .about-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 5%;
    padding: 0 5%;
    margin-bottom: 15%;
  }

  .about-section .about-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 3rem;
  }

  .about-section .about-text h1 {
    font-size: 3.5;
    color: #6dcf89;
  }

  .about-section .about-text p {
    font-size: 1.5rem;
    color: #4b4b4b;
    font-weight: 100;
  }

  .about-section .about-image img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .theme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 6%;
  }

  .theme .theme-image img {
    height: auto;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 2rem 2rem 0 0rem;
  }

  .theme .theme-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 0 1rem 3rem 1rem;
  }

  .theme .theme-text h1 {
    font-size: 3.5rem;
    color: #6dcf89;
  }

  .theme .theme-text span {
    color: #6dcf89;
  }

  .theme .theme-text h2 {
    font-size: 2rem;
  }

  .theme .theme-text p {
    font-size: 1.5rem;
    color: #4b4b4b;
    font-weight: 100;
  }

  .legacy-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 5%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
    gap: 5%;
    margin: 5% 0;
    position: relative;
  }

  .legacy-section .legacy-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2rem;
    padding: 0rem;
    min-width: 300px;
    max-width: 600px;
    margin-bottom: 2rem;
  }

  .legacy-section .legacy-text h1 {
    font-size: 3.5rem;
    color: #6dcf89;
  }

  .legacy-section .legacy-text span {
    color: #3B8B58;
  }

  .legacy-section .legacy-text h2 {
    font-size: 3rem;
  }

  .legacy-section .legacy-text p {
    font-size: 1.5rem;
    color: #4b4b4b;
    font-weight: 100;
  }

  .legacy-section .legacy-slideshow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 300px;
    max-width: 600px;
  }

  .legacy-section .legacy-slideshow .image-holder {
    width: 100vw;
    height: 30vh;
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .legacy-section .legacy-slideshow .slide-prev button,
  .legacy-section .legacy-slideshow .slide-next button {
    padding: 0.2rem;
    border: none;
    font-size: 2rem;
    font-family: serif;
    border-radius: 0.5rem;
  }

  .legacy-section .legacy-slideshow .slide-prev button:hover,
  .legacy-section .legacy-slideshow .slide-next button:hover {
    opacity: 0.8;
  }

  /* .our-sponsors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 3rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0% 5%;
    margin: 10% 0;
  } */

  /* .our-sponsors .sponsor-heading h1 {
    font-size: 3.2rem;
    color: #6dcf89;
  } */

  /* .our-sponsors .sponsor-logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    gap: 5rem;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 20vh;
  } */
/* 
  .our-sponsors .sponsor-logos img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  } */

  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 5% 5%;
    background-color: #E5FAEB;
    color: #263238;
  }

  .footer .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .footer .bottom .left {
    font-size: 1.3rem;
    text-align: left;
  }

  .footer .bottom .left p {
    margin: 1rem 0;
  }

  .footer .bottom .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 1.3rem;
    gap: 1rem;
  }

  .footer .bottom .right .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.9rem;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1100px) {
  .navbar {
    padding: 2% 5% 2% 5%;
    height: 12vh;
  }

  .hero {
    display: -ms-grid;
    display: grid;
    height: 70vh;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 0 5%;
    margin-bottom: 5%;
  }

  .hero .hero-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .hero .hero-text span {
    color: #6dcf89;
  }

  .hero .hero-text h1 {
    font-size: 4rem;
    color: #263238;
  }

  .hero .hero-text h3 {
    font-size: 2rem;
    font-weight: 400;
  }

  .hero .hero-text h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1rem;
  }

  .hero .hero-image img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .hero .countdown-timer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
  }

  .hero .countdown-timer .day,
  .hero .countdown-timer .minute,
  .hero .countdown-timer .hour,
  .hero .countdown-timer .second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem 0;
  }

  .hero .countdown-timer .day p,
  .hero .countdown-timer .minute p,
  .hero .countdown-timer .hour p,
  .hero .countdown-timer .second p {
    font-weight: 500;
    margin-top: 0.4rem;
  }

  .hero .countdown-timer .dayVal,
  .hero .countdown-timer .hourVal,
  .hero .countdown-timer .minuteVal,
  .hero .countdown-timer .secondVal {
    padding: 1rem;
    background-color: #f1f1f1;
    font-weight: 700;
    border-radius: 0.5rem;
  }

  .about-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.75fr 1fr;
    grid-template-columns: 0.75fr 1fr;
    gap: 5%;
    padding: 0 5%;
    margin-bottom: 10%;
  }

  .about-section .about-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 2rem;
  }

  .about-section .about-text h1 {
    font-size: 3rem;
    color: #6dcf89;
  }

  .about-section .about-text p {
    font-size: 1.3rem;
    color: #4b4b4b;
    font-weight: 100;
  }

  .about-section .about-image img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .theme {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    max-width: 100vw;
    margin: 0 5%;
    gap: 5%;
    padding: 5% 5%;
    margin-bottom: 10%;
    border-radius: 2rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #51f054;
  }

  .theme .theme-image img {
    height: auto;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 2rem 0 0 2rem;
  }

  .theme .theme-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
  }

  .theme .theme-text h1 {
    font-size: 3rem;
    color: #3B8B58;
    color: #263238;
  }

  .theme .theme-text span {
    color: #6dcf89;
  }

  .theme .theme-text h2 {
    font-size: 2rem;
    color: #263238;
  }

  .theme .theme-text p {
    font-size: 1.3rem;
    color: #4b4b4b;
    font-weight: 100;
  }

  .legacy-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 0 5%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 100%;
    gap: 5%;
    margin: 5% 0;
    position: relative;
  }

  .legacy-section .legacy-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    margin-bottom: 5%;
    padding: 0rem;
    min-width: 500px;
    max-width: 600px;
  }

  .legacy-section .legacy-text h1 {
    font-size: 3rem;
    color: #6dcf89;
  }

  .legacy-section .legacy-text h2 {
    font-size: 3rem;
  }

  .legacy-section .legacy-text p {
    font-size: 1.3rem;
    color: #4b4b4b;
    font-weight: 100;
  }

  .legacy-section .legacy-slideshow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 600px;
  }

  .legacy-section .legacy-slideshow .image-holder {
    min-width: 40vw;
    height: 100%;
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: ease-in;
    transition: ease-in;
  }

  .legacy-section .legacy-slideshow .slide-prev button,
  .legacy-section .legacy-slideshow .slide-next button {
    padding: 0.5rem;
    border: none;
    font-size: 2rem;
    font-family: serif;
    border-radius: 0.5rem;
    font-weight: 700;
  }

  .legacy-section .legacy-slideshow .slide-prev button:hover,
  .legacy-section .legacy-slideshow .slide-next button:hover {
    opacity: 0.8;
  }

  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2% 5%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #E5FAEB;
    color: #263238;
  }

  .footer .left {
    font-size: 1.3rem;
  }

  .footer .left p {
    margin: 1rem 0;
  }

  .footer .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 1.3rem;
    gap: 1rem;
  }

  .footer .right .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    gap: 1rem;
  }
}

.youth_run_gradient {
  background: rgb(166, 198, 65);
  background: linear-gradient(90deg, rgba(166, 198, 65, 1) 0%, rgba(79, 152, 95, 1) 35%, rgba(55, 158, 133, 1) 65%, rgba(26, 166, 178, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.theme {
  background-color: #59d6b742;
  padding: 2rem;
}

.contact-info {
  margin-inline: 1.3rem;
  text-align: center;
  margin-bottom: 1rem;
}

#yt_video
{
  display: flex;
  height: 35rem;
  align-items: center;
  justify-content: center;
}

#yt_frame
{
  height: 80%;
  width: 60%;
  display: block;
  margin: 0px 5px 0px 5px;
}

@media only screen and (min-width: 110px) and (max-width: 1360px) {
  .theme {
    padding: 5% 5%;
  }
}

/* #yt_frame{
  width: 30%;
  height: 250px;
} */

.footer-section
{
  margin: 2% 0% 0% 0%;
}

.sponsors-section
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid red; */
  margin: 0px 0px 2% 0px;
}

.our-sponsors
{
  display: grid;
  grid-template-rows: repeat(8, auto);
  grid-template-columns: repeat(2, 50%);
  grid-gap: 2px;
  /* margin: 0px 0.5%; */
  margin: auto;
  padding: 0px 200px;
  box-sizing: border-box;
  /* width: 100%;
  height: 100%; */
}

.our-sponsors h3
{
  font-size: 2.2rem;
}

.our-sponsors div
{
  /* border: 2px solid red; */
  /* justify-content: center;
  align-items: center; */
  text-align: center;
  font-size: 1.6rem;
  /* margin: 2% 0px; */
  padding: 0px;
}

.sponsor-heading
{
  margin: 3% 0%;
}

.our-sponsors img
{
  height: 100%;
  width: 30%;
  margin: 5px 0px 0px 0px;
}

#two
{
  height: 140%;
}

#three
{
  margin-top: 9%;
}

#four
{
  height: 120%;
}

#five, #seven
{
  margin-top: 12%;
}

/* #fourteen
{
  margin-left: 2%;
} */

.our-sponsors div:nth-child(1), .our-sponsors div:nth-child(2), .our-sponsors div:nth-child(3), .our-sponsors div:nth-child(4)
{
  grid-column-start: 1;
  grid-column-end: 3;
}

.our-sponsors div:nth-child(13)
{
  grid-column-start: 1;
  grid-column-end: 3;
}

.our-sponsor div:nth-child(2n+1)
{
  text-align: right;
}

@media only screen and (min-width: 110px) and (max-width: 1000px) {

  #yt_video
  {
    height: 15rem;
  }
  #yt_frame
{
  height: 80%;
  width: 80%;
  display: block;
  /* margin: 0px 5px 0px 5px; */
}

.legacy-section
{
  margin: 1% 0%;
}

  .our-sponsors
  {
    padding: 0px;
    display: flex;
    flex-direction: column;
    /* /* grid-template-columns: 1fr; */
  }

  #one
  {
    order: 1;
  }

  #two
  {
    order: 2;
    height: 100%;
  }

  #three
  {
    order: 3;
  }

  #four
  {
    order: 4;
  }

  #five
  {
    order: 5;
  }

  #six
  {
    order: 6;
  }

  #seven
  {
    order: 7;
  }

  #eight
  {
    order: 8;
  }

  #nine
  {
    order: 9;
  }

  #ten
  {
    order: 10;
  }

  #eleven
  {
    order: 11;
  }

  #twelve
  {
    order: 12;
  }

  #thirteen
  {
    order: 13;
  }

  #fourteen
  {
    order: 14;
  }

  #fifteen
  {
    order: 15;
  }

  .our-sponsors h3
  {
    font-size: 1.3rem;
  }

  .our-sponsors h1
  {
    font-size: 1.8rem;
  }
}
/*# sourceMappingURL=style.css.map */